<div class="jumbotron mt-4">
    <h1 class="display-4">Posticks-App</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis minima, suscipit vero nobis error corporis! Reiciendis dolore corporis dolores atque hic, tempora quos nostrum, quaerat consequuntur ratione vel eum veniam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla magni nostrum aliquam, saepe laudantium similique non, itaque consectetur iusto officia velit illum minus quasi repellendus aut distinctio sint rem atque.</p>
    <a href="google.com" class="btn btn-primary btn-lg">Google</a>
</div>